[submodule "external_libs/MLX42"]
	path = external_libs/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "external_libs/42_libs"]
	path = external_libs/42_libs
	url = https://github.com/michmos/42_libs.git
